
body{
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: normal;
	background-image: url(abstract.jpg); 
}
.box{
	width: 450px;
	background: rgba(0, 0, 0, 0, 4);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: black;
	font-family: 'Century Gothic',sans-serif;
	background-color: #74b9ff;
}
.box-img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
.box h1{
	font-size: 40px;
	font-style: normal;
	letter-spacing: 4px;
	font-weight: 100;
}
.box h5{
	font-size: 25px;
	letter-spacing: 3px;
	font-weight: 100;
}
.box p{
	font-family: 'Segoe Print';
	font-size: 15px;
	letter-spacing: 2px;
	font-weight: 100;

}
.div box{
	background-color: ;
}
.nav{
	width: 350px;
	height: auto;
	position: absolute;
	top: 20%;
	left: 0;
}
.nav a{
	text-decoration: none;
	font-size: 28px;
	font-family: verdana;
	font-weight: bold;
	height: 90px;
	margin: 5px 0;
	float: left;
	display: inline-block;
	background-color: black;
	color: white;
	line-height: 90px;
	text-align: center;
	transition: 300ms;
}
a.active, .nav a:hover{
	background-color: white;
	color: black;
	width: 100%;
}
.a{
	width: 95%;
}
.b{
	width: 85%;
}
.c{
	width: 80%;
}
.d{
	width: 90%;
}
